<div class="row col-lg-12 marginTop">
<div class="col-lg-3">
<span class="col-lg-2">ID </span>
<span class="col-lg-2"><input type="text" data-ng-model="idTxt"></span>
</div>
<div class="col-lg-3">
<span class="col-lg-3">Name </span>
<span class="col-lg-9"><input type="text" data-ng-model="nameTxt"></span>
</div>
<div class="col-lg-3">
<span class="col-lg-4">Location </span>
<span class="col-lg-8"><input type="text" data-ng-model="locationTxt"></span>
</div>
<div class="col-lg-3">
<span class="col-lg-3"><button type="button" class="btn btn-primary" data-ng-click="update(idTxt)">Update</button></span>
<span class="col-lg-9"></span>
</div>
</div>

<div class="row col-lg-12 marginTop">
<table class="table">
<tr><td>ID.</td><td>Name</td><td>Location</td><td></td></tr>
<tr data-ng-repeat="cust in customers">
<td>{{$index+1}}</td><td>{{cust.name | uppercase }}</td><td>{{cust.location | lowercase}}</td>
<td><button type="button" class="btn btn-primary" data-ng-click="edit($index)">Edit</td>
</tr>
</table>
</div>